:root {
    --color-dark-grey: #111111;
    --color-dark-brown: rgba(71, 67, 6, 1);
    --color-yellow: rgba(245, 238, 132, 1);
    --color-light-yellow: rgba(251, 248, 204, 1);
    --avatar-width: 480px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-dark-grey);
    line-height: 1.5;
}
html {
    font-size: 20px;
}

body {
    max-width: 1440px;
    padding: 0 96px;
    background-color: var(--color-light-yellow);
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark-grey);
}

section {
    margin-bottom: 64px;
}

.container{

}

.avatar {
    width: var(--avatar-width);
    border-radius: 50%;
}

.navigation {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: var(--color-light-yellow);
    z-index: 5;
    width: 100%;
}

.navigation-items {
    width: 100%;
    padding: 16px 0px;
    display: flex;
    gap: 24px;
}

.landing-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 191px;
}

.title {
    margin: 8px 0;
    max-width: 300px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

h5 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
    line-height: normal;

}

strong {
    font-weight: 600;
}

.contact-us-image{
    width: 440px;
}

button{
    padding: 8px;
    font-size: 1.25rem;
    border: 1px solid var(--color-dark-brown);
    border-radius: 4px;
    background-color: transparent;
}

.button-wrapper:hover
button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button-wrapper{
    display: inline-table;
    position: relative;
}

.button-background{
    width: 100%;
    height: 100%;
    background: var(--color-yellow);
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
}

.profile-picture-wrapper{
    position: relative;
}

.slashes{
    position: absolute;
    top: 345px;
    left: 11px;
    font-weight: 500;

}

.profile-picture-border{
    width: var(--avatar-width);
    height: 394px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -15px;
}

.plus1,
.plus2,
.plus3 {
    position: absolute;
    font-size: 24px;
    font-weight: 500;
}

.plus1{
    top:16px;
    right: 24px;
}

.plus2{
    top: 8px;
    right: 40px;
}

.plus3{
    top: 0;
    right: 24px;
}

a {
    text-decoration: none;
    line-height: normal;
}

.section-title{
    margin-bottom: 32px;
}

.based-in {
    margin-bottom: 24px;
}

.paragraph {
    margin-bottom: 24px;
}

ul {
    padding-left: 128px;
}

li {
    margin-bottom: 16px;
}

.contact-us-content {
    display: flex;
    gap: 32px;
}

.contact-us-information {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 350px;
}

.nice-to-hear{
    margin-bottom: 16px;
}

@media (max-width: 940px){
    .landing-section{
        flex-direction: column; 
    }
}